html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  text-align: right;
}

/* Change color on hover */
.bm-item:hover {
  color: #f80012;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #3d4045;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #3d4045;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #3d4045;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: #3d4045;
}

.sidebarImg {
  height: 300px;
  width: 200px;
  transform: rotate(90deg);
  margin-top: 44%;
  margin-left: 20%;
}

@media all and (max-width: 767px) {
  .sidebarImg {
    height: 300px;
    width: 200px;
    transform: rotate(90deg);
    margin-top: 20px;
    margin-left: 50px;
  }
}

/* @media all and (min-width: 1200px) {
}
@media all and (min-width: 960px) and (max-width: 1199px) {
}
@media all and (min-width: 768px) and (max-width: 959px) {
}
@media all and (min-width: 480px) and (max-width: 767px) {
} */
