.distance {
  visibility: visible;
}

.cardio {
  visibility: visible;
}

.strength {
  visibility: visible;
}

.stretch {
  visibility: visible;
}

.rest {
  visibility: visible;
}

.other {
  visibility: visible;
}
